<hr>
<div class="row" id="sign-in-form-container">
  <div class="col-max-12 col-md-10 col-sm-8">
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" maxlength="50">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" maxlength="50">
      </div>
      <div>
          <button style="margin-left: 83%" type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      <div>
          <button style="margin-left: 83%" type="button" class="btn btn-default" type="type" (click)="getUserDetails()">user Details</button>
      </div>
      
    </form>
  </div>
</div>